<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Медиатека</title>

    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/darkly.css"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">	 -->

	<!-- <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script> -->

	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<!-- <link rel="stylesheet" type="text/css" href="css/mt.css"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style type="text/css">
		body {
			color: #c0c000;
			background: #373737;
		}
	</style>
</head>
<body>
	<div class="container">
		<header>
			<h2>Медиатека</h2>
		</header>

		{{{body}}}

		<a href="/">Домашняя страница</a>
		<a href="/about">О Медиасервере...</a>
		<a href="/contact">Контакты</a>

	<!-- <script type="text/javascript" src="js/bootstrap.min.js"></script> -->

	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>	
	
</body>
</html>